 /* Add your custom styles here */
 body {
    background-color: #0e7ce9;
    font-family: Arial, sans-serif;
}
.jumbotron {
    background-color: #f4f6e7;
    color: #5c49a7;
    padding: 100px 20px;
}
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
h1, h2, h3 {
    color: #b6cadf;
}