 /* Add your custom styles here */
 body {
    background-color: #e9ecef;
    font-family: Arial, sans-serif;
}
.jumbotron {
    background-color: #f6d7ba;
    color: #070707;
}

h1, h2, h3 {
    color: #000000;
}
.bg-dark {
    background-color: #dc5c35!important;
}
.navbar-brand {
    border-radius: 20px;
}
.img-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5%;
}
.card-header {
    background-color: #f6d7ba;
}